.Silver {
    border: 3px solid black;
    border-radius: 4px;
    background-color: grey;
    height: 300px;
    display: inline-block;
    border-width: thick;
}

h1 {
    color: lightgreen;
    text-align: center;
}

h3 {
    color: blue;
}

p {
    color: red;
}

.TruthOrLie
{
    border: 1px solid black;
    border-radius: 2px;
    background-color: lightgrey;
    text-align: center;
    float: left;
}